.tableid {
    padding-left: 35px;
    padding-bottom: 140px;
}

.image_me {
    border-radius: 55%;
}

.social {
    font-size: 25px;
    padding-left: 40px;
    margin-top: 0;
}

.soc1 {
    color: rgb(255, 153, 0);
}
